<h1>Form</h1>

<form action="/form" method="post">

    <div>
        <label for="email">Renda</label>
        <input type="text" id="renda" name="renda"
        required>
    </div>

    <div>
        <label for="senha">Gastos mensais</label>
        <input type="text" id="gastos" name="gastos"
        required>
    </div>

    <div>
        <label for="email">Divida</label>
        <input type="text" id="dividas" name="dividas"
        required>
    </div>

    <div>
        <label for="senha">Saldo</label>
        <input type="text" id="saldo" name="saldo"
        required>
    </div>

    <div>
        <label for="email">Investimentos</label>
        <input type="text" id="investimentos" name="investimentos"
        required>
    </div>

    <div>
        <label for="senha">Emprego</label>
        <input type="text" id="emprego" name="emprego"
        required>
    </div>

    

    <button type="submit">Cadastrar</button>

</form>

<a href="/">Home</a>
