<h1>Login</h1>

<form action="/login" method="post">

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"
        required>
    </div>

    <div>
        <label for="senha">Senha</label>
        <input type="text" id="senha" name="senha"
        required>
    </div>

    <button type="submit">Login</button>

</form>

<a href="/register">Register</a>