<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />
	<link rel="canonical" href="metas.ejs" />
	<title>Metas</title>
	<link href="css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>

<style>
	#Progress_Status {
	  width: 50%;
	  background-color: #ddd;
	  position: relative;
	  top: 20%;
	  left: 10%;
	}
	
	#myprogressBar {
	  width: 0%;
	  height: 35px;
	  background-color: #4CAF50;
	  text-align: center;
  	  line-height: 32px;
  	  color: black;
	}

	.popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .container {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(249, 249, 254);
    border: #ffff;
  }

  .container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
	</style>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
          <span class="align-middle">Recursos</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Sub-Pages
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/home">
              <i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
            </a>
					</li>
					<li class="sidebar-item active">
						<a class="sidebar-link" href="/metas">
              <i class="align-middle" data-feather="cloud"></i> <span class="align-middle">Metas</span>
            </a>
					</li>
					<li class="sidebar-item  ">
						<a class="sidebar-link" href="/cadastroM">
              <i class="align-middle" data-feather="plus"></i> <span class="align-middle">Cadastros</span>
            </a>
					</li>

				</ul>

		</nav>

		<div class="main">
			
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						
						
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                <i class="align-middle" data-feather="settings"></i>
              </a>							
			</nav>

			<main class="content">
				
					<button type="button" class="button" id="yes">Modificar meta</button>
					<button type="button" class="button" id="next">Proxima meta</button>
				
				<div class="popup" id="adPanel">
					<form class="container" action="/metas" method="post">
					  <h1>Modificar Meta</h1>
					
					  <label for="number"><b>Nome da meta</b></label>
					  <input type="text" placeholder="Enter Account Number"  id="accnumb" name="nome">
					
					  <label for="tipo"><b>Valor (- para gasto)</b></label>
					  <input type="text" placeholder="Enter Account Type"  id="acctype" name="valor">
										
					  <button type="submit" class="button" id="yes">Mudar</button>
					  <button type="button" class="button" id="no">Close</button>
					</form>
					</div>

					<h1 style="text-align: center;" > <span id="myText"  ></span></h1>
				<div id="Progress_Status">
					<div id="myprogressBar"></div>
				  </div>
			</main>
		</div>
	</div>

	<script src="js/app.js"></script>

</body>

<script>
	let dados = " <%= aux  %>";
	let i=2
	dados = dados.split(",")
	document.getElementById("myText").innerHTML = dados[0];
	var element = document.getElementById("myprogressBar");   
	var x = dados[1];
	element.style.width = x + '%'; 
	element.innerHTML = x * 1  + '%';


	var botão = document.getElementById("yes")
	var pop = document.getElementById("adPanel")
	botão.addEventListener('click',function(){
		pop.style.display = "block";
	})

	var fecha = document.getElementById("no")
	fecha.addEventListener('click',function(){
		pop.style.display = "none";
	})

	var proximo = document.getElementById("next")
	proximo.addEventListener('click',function(){

		if(i>=dados.length-1){
			i=0
		}

		document.getElementById("myText").innerHTML = dados[i];
		var x = dados[i+1];
		element.style.width = x + '%'; 
		element.innerHTML = x * 1  + '%';
		i=i+2
	})

  </script>


</html>